*{
   margin: 0;
   padding: 0;
}
.side-bar{
   width: 29.5vw;
   height: 100%;
   margin-bottom: 50px;
   background: linear-gradient(green, yellow, blue);
}
#aside{
    margin-bottom: 20vw;
}
.body{
    width: 69vw;
    height: 100%;
    bottom: 10vw;
    margin-left: 30vw;
}
fieldset{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right-color: aquamarine;
}
.links{
    margin-top: 30px;

}
h1{
    color: rgb(2, 2, 57);
}